.core {
    position: relative;
    width: auto;
    @include aligment(center, row, center);

    .mainCore {
        position: absolute;
        width: 100px;
        height: 100px;
        z-index: 0;
        background-color: $primaryLightColor;
    }

    .ringCore {
        position: absolute;
        width: 200px;
        height: 200px;
        border: 1px solid $disableColor;
        z-index: 1;
        background-color: transparent;
    }
}