.spark {
    width: 10px;
    height: 10px;
    background-color: $primaryColor;
    border-radius: 50%;
    margin: 0;
}

.sparkList {
    display: inline-block;

    .spark {
        margin-right: 5px;
        margin-bottom: 5px;
    }
}

.sparks {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}