.colFooter {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.colFooter.colFooter--start {
  align-items: flex-start;
  justify-content: flex-start;
}

.colFooter.colFooter--center {
  align-items: center;
  justify-content: center;
}

.colFooter.colFooter--end {
  align-items: flex-end;
  justify-content: flex-end;
}
