// acuarel color pallette

$a_primary_color: #dad1ff;
$a_primary_dark_color: #a8a0cc; // hoverDefault
$a_primary_light_color: #c4b6fc;
$a_secondary_color: #5b3bda; //
$a_secondary_light_color: #9368ff;
$a_secondary_dark_color: #0d0ca7; // disableColor
$a_primary_text_color: #333333; // disableColor
$a_secondary_text_color: #858282; // secondaryTextColor
$a_disable_color: #9f9f9f; // separator
$a_disable_light_color: #e8e9eb62;
$a_background_light: #9368ff21;
$a_white_color: #ffffff;
$a_black_color: #000000;
$a_overlay: #00000069;

// Tipography
$a_base_typo: 'Raleway', sans-serif;
