// acuarel main variables

// ----------------- general ----------------- //

// headers
$a_header1: 2.5rem; // h1
$a_header2: 2rem; // h2
$a_header3: 1.5rem; // h3
$a_header4: 1rem; // h4
$a_header5: 0.5rem; // h5
$a_header6: 0.1rem; // h6
// headers weight
$a_header_weight: 600;

// borders
$a_base_border_radius: 15px;

// text sizes
$a_base_primary_text: 1rem;
$a_base_secondary_text: 0.8rem;
// text weight
$a_base_text_weight: 400;

// ----------------- components ----------------- //

// navbar
$a_navbar_brand_text_size: 2rem;
$a_navbar_height: 80px;

// icons
$a_base_icon_size: 1.2rem;

// buttons

// buttons - types
$a_btn_types: 'contained', 'outlined', 'text', 'fab';
$a_btn_type_sizes: 'small', 'medium', 'large';

// buttons - sizes
$a_btn_text_size_small: 0.8rem;
$a_btn_text_size_medium: 1.1rem;
$a_btn_text_size_large: 1.3rem;

// buttons - general
$a_btn_padding: 10px 30px;
$a_btn_padding_y: 10px;
$a_btn_padding_x: 30px;
$a_btn_border_radius: 5px;
$a_btn_icon_size: 2rem;

// buttons - fab
$a_btn_padding_fab: 30px;
$a_btn_width_fab: 58px;
$a_btn_height_fab: 58px;
$a_btn_border_radius_fab: 50%;

// bootstrap

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px,
);
