@import './a-media-queries';
@import './a-theme';
@import './a-mixins';
@import './a-variables';
@import './a-dimens';

// helpers

html,
body {
  @include borderBox;
  font-family: $a_base_typo;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

* {
  transition: 0.1s ease-in-out !important;
}

i,
a,
button {
  cursor: pointer;
}

section {
  height: 100vh;
  min-height: 100vh;
  width: 100%;
}

a {
  text-decoration: none !important;
}

ul {
  list-style: none !important;
  margin: 0 !important;
  padding: 0 !important;
}

p {
  margin-bottom: none !important;
}

img {
  width: 100% !important;
}

.appMain {
  padding-top: 60px;
}

// elevations
@for $i from 1 through 5 {
  .AC-elevation#{$i} {
    box-shadow: 0 8px 17px 2px rgba(71, 69, 69, 0.023 * $i),
      0 3px 14px 2px rgba(71, 69, 69, 0.023 * $i), 0 5px 5px -3px rgba(107, 35, 35, 0.023 * $i);
  }
}

// no elevation
.AC-noElevation {
  @include shadow-none(none !important);
}

// aligments
.AC-alignX {
  @include aligment(flex-start, row, flex-start);
}

.AC-alignY {
  @include aligment(flex-start, column, flex-start);
}

.AC-goDown {
  display: block !important;
}

.AC-reverseX {
  @include reverse(scaleX(-1) !important);
}

.AC-reverseY {
  @include reverse(scaleY(-1) !important);
}

.AC-pushAside {
  display: flex !important;
  justify-content: space-between !important;
  margin-left: auto !important;
}

.AC-disabled {
  @include shadow-none(none !important);
  pointer-events: none !important;
  color: $a_secondary_text_color !important;
  cursor: default !important;
  border: none !important;
  background-color: $a_disable_color !important;
}

.AC-autoHeight {
  min-height: auto !important;
  height: auto !important;
}

.AC-centerMiddle,
.AC-alignMiddleY {
  height: 100vh !important;
}

.AC-centerMiddle {
  @include aligment(center, column, center);
}

.AC-alignMiddleY {
  @include aligment(flex-start, column, center);
}

.AC-alignMiddleX {
  @include aligment(center, column, center);
}

// animation from left to right
.AC-animate-to-right {
  @keyframes animate-to-right {
    0% {
      transform: translateX(-20px);
      opacity: 0;
    }
    100% {
      transform: translateX(0px);
      opacity: 1;
    }
  }
}

.AC-noBack {
  background: transparent !important;
}

.AC-initMayus {
  text-transform: initial !important;
}

// custom scrollbars

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: $a_disable_color;
}

::-webkit-scrollbar-thumb:window-inactive {
  background: $a_disable_color;
}

.checked {
  text-decoration: line-through;
  color: $a_disable_color;
  cursor: inherit;
}

@media #{$mobile} {
  ::-webkit-scrollbar-thumb {
    display: none !important;
  }
}

// Checkboxes

[type='checkbox'] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

[type='checkbox']:not(:checked),
[type='checkbox']:checked {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

[type='checkbox'] + span:not(.lever) {
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  display: inline-block;
  height: 13px;
  line-height: 13px;
  font-size: 1rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

[type='checkbox'] + span:not(.lever):before,
[type='checkbox']:not(.baseCheckbox) + span:not(.lever):after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 18px;
  height: 18px;
  z-index: 0;
  border: 2px solid #ccc;
  border-radius: 1px;
  margin-top: 3px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

[type='checkbox']:not(.baseCheckbox) + span:not(.lever):after {
  border: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}

[type='checkbox']:not(:checked):disabled + span:not(.lever):before {
  border: none;
  background-color: rgba(0, 0, 0, 0.42);
}

[type='checkbox'].tabbed:focus + span:not(.lever):after {
  -webkit-transform: scale(1);
  transform: scale(1);
  border: 0;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 0, 0, 0.1);
}

[type='checkbox']:checked + span:not(.lever):before {
  top: -4px;
  left: -5px;
  width: 12px;
  height: 22px;
  border-top: 2px solid transparent;
  border-left: 2px solid transparent;
  border-right: 2px solid #26a69a;
  border-bottom: 2px solid #26a69a;
  -webkit-transform: rotate(40deg);
  transform: rotate(40deg);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
}

[type='checkbox']:checked:disabled + span:before {
  border-right: 2px solid rgba(0, 0, 0, 0.42);
  border-bottom: 2px solid rgba(0, 0, 0, 0.42);
}

/* Indeterminate checkbox */
[type='checkbox']:indeterminate + span:not(.lever):before {
  top: -11px;
  left: -12px;
  width: 10px;
  height: 22px;
  border-top: none;
  border-left: none;
  border-right: 2px solid #26a69a;
  border-bottom: none;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
}

[type='checkbox']:indeterminate:disabled + span:not(.lever):before {
  border-right: 2px solid rgba(0, 0, 0, 0.42);
  background-color: transparent;
}

[type='checkbox'].baseCheckbox + span:not(.lever):after {
  border-radius: 2px;
}

[type='checkbox'].baseCheckbox + span:not(.lever):before,
[type='checkbox'].baseCheckbox + span:not(.lever):after {
  content: '';
  left: 0;
  position: absolute;
  /* .1s delay is for check animation */
  -webkit-transition: border 0.25s, background-color 0.25s, width 0.2s 0.1s, height 0.2s 0.1s,
    top 0.2s 0.1s, left 0.2s 0.1s;
  transition: border 0.25s, background-color 0.25s, width 0.2s 0.1s, height 0.2s 0.1s, top 0.2s 0.1s,
    left 0.2s 0.1s;
  z-index: 1;
}

[type='checkbox'].baseCheckbox:not(:checked) + span:not(.lever):before {
  width: 0;
  height: 0;
  border: 3px solid transparent;
  left: 6px;
  top: 10px;
  -webkit-transform: rotateZ(37deg);
  transform: rotateZ(37deg);
  -webkit-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
}

[type='checkbox'].baseCheckbox:not(:checked) + span:not(.lever):after {
  height: 20px;
  width: 20px;
  background-color: transparent;
  border: 2px solid #5a5a5a;
  top: 0px;
  z-index: 0;
}

[type='checkbox'].baseCheckbox:checked + span:not(.lever):before {
  top: 0;
  left: 1px;
  width: 8px;
  height: 13px;
  border-top: 2px solid transparent;
  border-left: 2px solid transparent;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
  -webkit-transform: rotateZ(37deg);
  transform: rotateZ(37deg);
  -webkit-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
}

[type='checkbox'].baseCheckbox:checked + span:not(.lever):after {
  top: 0;
  width: 20px;
  height: 20px;
  border: 2px solid #26a69a;
  background-color: #26a69a;
  z-index: 0;
}

[type='checkbox'].baseCheckbox.tabbed:focus + span:not(.lever):after {
  border-radius: 2px;
  border-color: #5a5a5a;
  background-color: rgba(0, 0, 0, 0.1);
}

[type='checkbox'].baseCheckbox.tabbed:checked:focus + span:not(.lever):after {
  border-radius: 2px;
  background-color: #26a69a;
  border-color: #26a69a;
}

[type='checkbox'].baseCheckbox:disabled:not(:checked) + span:not(.lever):before {
  background-color: transparent;
  border: 2px solid transparent;
}

[type='checkbox'].baseCheckbox:disabled:not(:checked) + span:not(.lever):after {
  border-color: transparent;
  background-color: #949494;
}

[type='checkbox'].baseCheckbox:disabled:checked + span:not(.lever):before {
  background-color: transparent;
}

[type='checkbox'].baseCheckbox:disabled:checked + span:not(.lever):after {
  background-color: #949494;
  border-color: #949494;
}

/* hide border selected from bootstrap active components */

*:focus,
button:focus,
.form-control:focus {
  outline: none !important;
  outline: 0 !important;
  outline: hidden !important;
  box-shadow: none !important;
}

@media #{$deskSm} {
}
@media #{$note} {
}
@media #{$tablet} {
}
@media #{$mobileSm} {
  section {
    height: auto !important;
    min-height: auto !important;
  }
}

@media #{$mobile} {
  section {
    height: auto !important;
    min-height: auto !important;
  }
}
