@import '../a-media-queries';

.AC-burguerIcon {
    display: flex;
    cursor: pointer;
}

.AC-toggleButton.AC-toggleButton--start {
    position: relative;
}


@media #{$deskXL} {
    .AC-toggleButton {
    
        &.AC-toggleButton--hidden {
            display: none !important;
        }
    }
}

@media #{$desk} {
    .AC-toggleButton {
    
        &.AC-toggleButton--hidden {
            display: none !important;
        }
    }
}

@media #{$deskSm} {
    .AC-toggleButton {
    
        &.AC-toggleButton--hidden {
            display: none !important;
        }
    }
}
