@import '../a-variables';
@import '../a-theme';
@import '../a-mixins';
@import '../a-media-queries';

// custom base style - btn medium
.AC-button {
  -webkit-transition: background-color .2s;
  transition: background-color .2s;
  width: auto;
  height: auto;
  display: inline-block;
  border-radius: $a_btn_border_radius;
  background-color: $a_primary_color; 
  color: $a_secondary_color;
  padding: $a_btn_padding;
  font-size: $a_btn_text_size_medium;
  position: relative;
  overflow: hidden;
  text-align: center;
  z-index: 1;
  cursor: pointer;
  vertical-align: middle;

  .AC-btnIcon {
    font-size: $a_base_icon_size;
    transform: translateY(4px);
    margin: 0 !important;

    &.ml-10 {
      padding-left: 10px;
    }

    &.mr-10 {
      padding-right: 10px;
    }
  }
  
}

// buttons disable states
.AC-button__outlined.disabled {
    background-color: transparent !important;
    border: 1px solid $a_disable_color !important;
}

.AC-button__text.disabled {
    background-color: transparent !important;
}

.AC-button--fullRounded {
  border-radius: $a_base_border_radius !important;
}

// button mixins

@mixin setSize($paddingY, $paddingX, $size) {
  padding: $paddingY $paddingX !important;
  font-size: $size !important;
}
  
@mixin setSizeText($size) {
  font-size: $size !important;
}
  
@mixin setSizeFab($widthFab, $heightFab, $paddingFab, $size) {
  width: $widthFab !important;
  height: $heightFab !important;
  padding: $paddingFab !important;
  font-size: $size !important;
}
  
@mixin setProps($background, $border, $textColor, $textDecoration) {
  background-color: $background !important; 
  border: $border !important;
  color: $textColor !important;
  text-decoration: $textDecoration !important;
}

// button props by type

@mixin buttonProps($buttonType) {
  @if $buttonType == 'contained' {
    @include setProps($a_secondary_color, none, $a_white_color, none);
    &:hover {
      @include setProps($a_secondary_dark_color, none, $a_white_color, none);
    }
    &:focus {
      @include setProps($a_secondary_light_color, none, $a_white_color, none);
    }
  } @else if $buttonType == 'outlined' {
    @include setProps(transparent, 1px solid $a_secondary_color, $a_secondary_color, none);
    &:hover {
      @include setProps($a_secondary_color, 1px solid $a_secondary_color, $a_white_color, none);
    }
    &:focus {
      @include setProps($a_secondary_dark_color, 1px solid $a_secondary_color, $a_white_color, none);
    }
  } @else if $buttonType == 'text' {
    @include setProps(transparent, none, $a_primary_text_color, none);
    &:hover {
      @include setProps(transparent, none, $a_secondary_dark_color, underline);
    }
    &:focus {
      @include setProps(transparent, none, $a_secondary_light_color, none);
    }
  } @else if $buttonType == 'fab' {
    @extend %fabProps;
    @include getShadow();
    &:hover {
      @include setProps($a_secondary_dark_color, none, $a_white_color, none);
    }
  } @else {
    @include setProps($a_secondary_color, none, $a_white_color, none);
    &:hover {
      @include setProps($a_secondary_dark_color, none, $a_white_color, none);
    }
    &:focus {
      @include setProps($a_secondary_light_color, none, $a_white_color, none);
    }
    @error "Unknown type button #{$buttonType}.";
  }
}

// buttons sizes - general
@mixin buttonSize($buttonSize) {
  @if $buttonSize == 'small' {
    @include setSize($a_btn_padding_y / 2, $a_btn_padding_x / 2, $a_btn_text_size_small);
  } @else if $buttonSize == 'medium' {
    @include setSize($a_btn_padding_y, $a_btn_padding_x, $a_btn_text_size_medium);
  } @else if $buttonSize == 'large' {
    @include setSize($a_btn_padding_y * 1.2, $a_btn_padding_x * 1.4, $a_btn_text_size_large);
  } @else {
    @include setSize($a_btn_padding_y, $a_btn_padding_x, $a_btn_text_size_medium);
    @error "Unknown size button #{$buttonSize}.";
  }
}

// button text own props
@mixin buttonSizeText($buttonSize) {
  @if $buttonSize == 'small' {
    @include setSizeText($a_btn_text_size_small / 1);
  } @else if $buttonSize == 'medium' {
    @include setSizeText($a_btn_text_size_medium);
  } @else if $buttonSize == 'large' {
    @include setSizeText($a_btn_text_size_large * 1.3);
  } @else {
    @include setSize($a_btn_text_size_medium);
    @error "Unknown size button #{$buttonSize}.";
  }
}

// button fab own props
@mixin buttonSizeFab($buttonSize) {
  @if $buttonSize == 'small' {
      @include setSizeFab(
        $a_btn_width_fab / 1.3, 
        $a_btn_height_fab / 1.3, 
        $a_btn_padding_fab / 1.3, 
        $a_btn_text_size_small);
  } @else if $buttonSize == 'medium' {
    @include setSizeFab(
      $a_btn_width_fab, 
      $a_btn_height_fab, 
      $a_btn_padding_fab, 
      $a_btn_text_size_medium);
      
  } @else if $buttonSize == 'large' {
    @include setSizeFab(
      $a_btn_width_fab * 1.4, 
      $a_btn_height_fab * 1.4, 
      $a_btn_padding_fab * 1.4, 
      $a_btn_text_size_large);
  } @else {
    @include setSizeFab(
      $a_btn_width_fab, 
      $a_btn_height_fab, 
      $a_btn_padding_fab, 
      $a_btn_text_size_medium);
      @error "Unknown size button #{$buttonSize}.";
  }
}

// generate buttons
@each $type in $a_btn_types {
  .AC-button__#{$type} {
    @include buttonProps($type);
  }
  @each $size in $a_btn_type_sizes {
    .AC-button__#{$type}--#{$size} {
      @if $type == 'text'  {
        @include buttonSizeText($size);
      } @else if $type == 'fab' {
        @include buttonSizeFab($size);
      } @else {
        @include buttonSize($size);
      }
    }
  }
}

// Extends

%fabProps {
  width: $a_btn_width_fab !important;
  height: $a_btn_height_fab !important;
  border-radius: $a_btn_border_radius_fab !important;
  background-color: $a_primary_color !important;
  padding: 0 !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

// Media Queries

@media #{$mobile} {

  .AC-button__contained,
  .AC-button__fab {
    &:hover {
        background-color: $a_primary_color !important;
        color: $a_white_color !important;
    }
  }

  .AC-button__fab {
    &:hover {
        i {
          color: $a_white_color !important;
        }
    }
  }

  .AC-button__outlined {
    &:hover {
      background-color: transparent !important;
      color: $a_secondary_color !important;
      border: 1px solid $a_secondary_color;
    }
  }

  .AC-button__text {
    &:hover {
      background-color: transparent !important;
      color: $a_primary_text_color !important;
      text-decoration: none !important;
    }
  }
}