.AC-header {
    width: 100%;
    height: 50vh;
    min-height: 50vh;

    .AC-header__content {
        height: 50vh !important;
        display: flex;

        &.AC-header__content--start {
            align-items: flex-start;
        }
    
        &.AC-header__content--end {
            align-items: flex-end;
        }
    }
}