@import '../a-theme';

.AC-navbar {
    background-color: $a_white_color;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
      
    &.AC-navbar--fixed {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }
}

.AC-navbar.AC-navbar--fixed .AC-navbar__nav,
.AC-navbar .AC-navbar__nav {
    display: flex;
    width: 100%;

    &.AC-navbar__nav--start {
        align-items: flex-start !important;
        justify-content: flex-start !important;
    }

    &.AC-navbar__nav--end {
        align-items: flex-end !important;
        justify-content: flex-end !important;
    }

    &.AC-navbar__nav--center {
        align-items: center !important;
        justify-content: center !important;
    }
}

.AC-navbar__nav {   
    &.AC-navbar__nav--hidden {
        display: none !important;
    }
}

// @media #{$deskXL} {
//     .AC-navbar__nav {
       
//         display: inline-block !important;
//     }
// }

// @media #{$desk} {
//     .AC-navbar__nav {
//         display: inline-block !important;
//     }
// }

// @media #{$deskSm} {
//     .AC-navbar__nav {
       
//         display: inline-block !important;
//     }
// }

// @media #{$note} {
//     .AC-navbar__nav {
       
//         display: flex !important;
//     }
// }

// @media #{$mobileSm} {
//     .AC-navbar__nav {
       
//         display: flex !important;
//     }
// }

// @media #{$mobile} {
//     .AC-navbar__nav {
       
//         &.AC-navbar__nav--hidden {
//             display: none !important;
//         }
//     }
// }

