@import '../a-theme';

.AC-overlay {
    background-color: $a_overlay;
    width: 100vw;
    height: 100%;
    overflow: hidden;
    position: absolute;
    z-index: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    justify-content: center;
    display: flex;

    &.AC-overlay--active {
        z-index: 99999 !important;
        opacity: 1;
    }
}