@import '../a-theme';
@import '../a-mixins';

.AC-sidenav {
    height: 100vh;
    background-color: $a_white_color;
    position: fixed;
    top: 0;
    right: -100%;
    width: 25%;
    z-index: 999999 !important;
    transition: all .5s;
    @include getShadow();

    &.AC-sidenav--active {
        right: 0 !important;
        transition: all .5s !important;
    }
}

.AC-overlay {
    width: 100vw;
    height: 100vh;
    background-color: $a_black_color;
    opacity: 0 !important;
    position: fixed;
    z-index: 9999 !important;
    transition: .5s ease-in-out !important;

    &.AC-overlay--active {
        opacity: .5 !important;
        transition: .5s ease-in-out !important;
    }
}

