@import '../libraries/acuarel/a-media-queries';

@media #{$mobileSm} {
  #homeSection {
    height: 100vh !important;
    min-height: 100vh !important;
  }
}

@media #{$mobile} {
  #homeSection {
    height: 100vh !important;
    min-height: 100vh !important;
  }
}
