// Main style settings
@import './theme';
@import './dimen';
@import './variables';
@import '../libraries/acuarel/a-mixins';
@import '../libraries/acuarel/a-media-queries';

html,
body {
  font-family: $main_typo;
}

@media #{$deskXL} {
}
@media #{$desk} {
  .container {
    max-width: $main_container_max_width;
  }
}
@media #{$deskSm} {
}
@media #{$note} {
}
@media #{$tablet} {
}
@media #{$mobileSm} {
}
@media #{$mobile} {
}
