@import '../libraries/acuarel/a-variables';

// cromac dimens
$main_border_radius: $a_base_border_radius;
$main_primary_text: $a_base_primary_text;
$main_secondary_text: $a_base_secondary_text;
$main_header_1: $a_header1;
$main_header_2: $a_header2;
$main_header_3: $a_header2;
$main_icon_size: $a_base_icon_size;
