// cromac color pallette

$primaryColor: #49d6d2;
$primaryDarkColor: #00a4a1;
$primaryLightColor: #edffff;
$secondaryColor: #5b3bda; //
$secondaryDarkColor: #0d0ca7;
$secondaryLightColor: #f2f0fe;
$primaryTextColor: #626161; // primaryText
$secondaryTextColor: #808080; // secondaryText
$tagTextColor: #6957f0;
$tagBackgroundColor: #e3edfb;
$disableColor: rgba(112, 112, 112, 0.4); // separator
$disableLightColor: #e8e9eb62;
$backgroundLight: #9368ff21;
$whiteColor: #ffffff;
$blackColor: #2e2e2e;
$overlay: #00000069;

// Tipography
$main_typo: 'Raleway', sans-serif;
